<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SYMPTOM PREDICTION</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/symptom.css' %}">
        <script rel="stylesheet" href="https://kit.fantawesome.coma076d05399.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>
            <label class="logo">MedSymptoVision</label>
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/image/">Image Prediction</a></li>
                <li><a class="active" href="/symptomprediction/">Symptom Prediction</a></li>
                <li><a href="/aboutus/">About Us</a></li>
            </ul>
        </nav>
    </body>
</html>